@import '../variable.css';

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
  height: 100vh;
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid var(--border-color);
}

.logo-btn {
  background-color: yellow;
  flex: 0 0 100px;
}

.nav-item {
  background-color: aqua;
  flex: 1 1 auto;
}

.top-nav-utility {
  background: red;
  flex: 0 1 200px;
}

.body-area {
  display: flex;
  flex: 1;

}

.sidebar {
  width: var(--sidebar-width);
  background: var(--panel-tint);
  border-right: 1px solid var(--border-color);
  padding: 12px 2px;
  font-size: 12px;
  height: 100%;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
